.order-page-container {
  display: grid;
  grid-template-columns: 4fr 8fr;
  grid-gap: 1rem;
}

table tr:nth-child(even) {
  background-color: #ef9a9a;
}

table tr:hover {
  background-color: #bbdefb;
}

.btn {
  margin: 10px;
}

h1 {
  font-size: 3rem;
}

[type="radio"]:not(:checked),
[type="radio"]:checked {
  opacity: 1;
  position: relative;
  left: 21px;
  pointer-events: none;
}

.dashboard-wrapper {
  display: grid;
  grid-template-columns: 6fr 9fr;
  grid-gap: 2rem;
}

.container {
  width: 95%;
  max-width: 98%;
  min-width: 75%;
}

.table-container {
  height: 69vh;
  display: block;
  overflow-y: scroll;
}

.brand-logo {
  font-family: Geneva, Tahoma, sans-serif;
}
