/* .order-page-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.order-page-container > div {
  min-width: 150px;
  min-height: 150px;
  border: 1px solid black;
} */

table tr:nth-child(even) {
  background-color: #ef9a9a;
}

table tr:hover {
  background-color: #bbdefb;
}

.btn {
  margin: 10px;
}

h1 {
  font-size: 3rem;
}
