.order-page-container {
  display: grid;
  grid-template-columns: 4fr 8fr;
  grid-gap: 1rem;
}

.order-page-container > div {
}

table tr:nth-child(even) {
  background-color: #ef9a9a;
}

table tr:hover {
  background-color: #bbdefb;
}

.btn {
  margin: 10px;
}

h1 {
  font-size: 3rem;
}

[type="radio"]:not(:checked),
[type="radio"]:checked {
  opacity: 1;
  position: relative;
  left: 21px;
  pointer-events: none;
}
